{% extends "layout.html.twig" %}

{% block title %}Homemade Burgers{% endblock %}

{% block content %}
{% for burger in burgers %}
<article>
    <h2><a class="burgerTitle" href="/burger/{{ burger.id }}">{{ burger.name }}</a></h2>
    <p>{{ burger.resume }}</p>
    <img src="/images/{{ burger.IMGname }}"/>
</article>
{% endfor %}
{% endblock %}
