{% extends "layout.html.twig" %}

{% block title %}Homemade Burgers{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" id="imgHome" src="images/fond.png" />
        </div>
            <div class="col-md-6">
                <h2>Burger Is Life <span class="glyphicon glyphicon-cutlery"></span><br> <small>Bienvenue sur Home-Burger !</small></h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}
